In [2]:
r = 'Hi, Rindha.'
str(r)

'Hi, Rindha.'

In [3]:
r = 'Hi, Rindha.'
repr(r)

"'Hi, Rindha.'"

In [7]:
r = 'Hi, Rindha.'
str(1/3)

'0'

In [9]:
r = 10 * 3.25
n = 200 * 200
d = 'The value of x is ' + repr(r) + ', and y is ' + repr(n) + '...'
print(d)

The value of x is 32.5, and y is 40000...

In [10]:
hello = 'hello, rindha\n'
hellos = repr(hello)
hellos

"'hello, rindha\\n'"

In [11]:
repr((r, n, ('rin', 'dha')))

"(32.5, 40000, ('rin', 'dha'))"

In [15]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [18]:
print('{0} and {1}'.format('telur ceplok', 'telur dadar'))
print('{1} and {0}'.format('telur ceplok', 'telur dadar'))

telur ceplok and telur dadar
telur dadar and telur ceplok

In [19]:
print('This {food} is {adjective}.'.format(
    food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [21]:
print('The story of {0}, {1}, and {other}.'.format('Ayu', 'Ummah',
                                                   other='Widya'))

The story of Ayu, Ummah, and Widya.

In [24]:
table = {'Anang': 4127, 'Fitra': 4098, 'Surya': 8637678}
print('Fitra: {0[Fitra]:d}; Anang: {0[Anang]:d}; '
      'Surya: {0[Surya]:d}'.format(table))

Fitra: 4098; Anang: 4127; Surya: 8637678

In [26]:
table = {'Anang': 4127, 'Fitra': 4098, 'Surya': 8637678}
print('Fitra: {Fitra:d}; Anang: {Anang:d}; '
      'Surya: {Surya:d}'.format(**table))

Fitra: 4098; Anang: 4127; Surya: 8637678

In [28]:
for x in range(1, 11):
    print('{0:2d} {1:3d} {2:4d} {3:5d}'.format(x, x*x, x*x*x, x*x*x*x))

 1   1    1     1
 2   4    8    16
 3   9   27    81
 4  16   64   256
 5  25  125   625
 6  36  216  1296
 7  49  343  2401
 8  64  512  4096
 9  81  729  6561
10 100 1000 10000

In [30]:
'12'.zfill(5)

'00012'

In [31]:
'-3.14'.zfill(7)

'-003.14'

In [33]:
'3.14159265359'.zfill(25)

'0000000000003.14159265359'