In [1]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro',gunung 'Merapi', 'Sumbing', 'Merbabu']
gunung.count('Sumbing')

3

In [3]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
gunung.count('Rinjani')

0

In [5]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
gunung.index('Sindoro')

3

In [6]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
gunung.index('Merapi')

4

In [7]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
gunung.index('Merapi', 2)

4

In [8]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
gunung.reverse()
gunung

['Merbabu', 'Sumbing', 'Merapi', 'Sindoro', 'Sumbing', 'Krakatau', 'Sumbing']

In [10]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
gunung.append('Agung')
gunung

['Sumbing',
 'Krakatau',
 'Sumbing',
 'Sindoro',
 'Merapi',
 'Sumbing',
 'Merbabu',
 'Agung']

In [11]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
gunung.sort()
gunung

['Krakatau', 'Merapi', 'Merbabu', 'Sindoro', 'Sumbing', 'Sumbing', 'Sumbing']

In [12]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
gunung.pop()
gunung

['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing']

In [13]:
stack = [8, 9, 10]
stack.append(-2)
stack.append(20)
stack

[8, 9, 10, -2, 20]

In [14]:
stack = [8, 9, 10, -2, 20]
stack.pop()
stack

[8, 9, 10, -2]

In [15]:
from collections import deque
queue = deque(["Freya", "Ayana", "Sisca"])
queue.append("Melati")
queue.popleft()
queue

deque(['Ayana', 'Sisca', 'Melati'])

In [16]:
squares = []
for x in range(10):
    squares.append(x**3)
squares

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [19]:
squares = list(map(lambda x: x**3, range(10)))
squares

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [21]:
squares = [x**3 for x in range(10)]
squares

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [22]:
[(x, y) for x in [3,4,5] for y in [2,3,1] if x != y]

[(3, 2), (3, 1), (4, 2), (4, 3), (4, 1), (5, 2), (5, 3), (5, 1)]

In [23]:
combs = []
for x in [2,3,4]:
    for y in [4,2,1]:
        if x != y:
            combs.append((x, y))
combs

[(2, 4), (2, 1), (3, 4), (3, 2), (3, 1), (4, 2), (4, 1)]

In [24]:
vec = [-5, -3, 0, 3, 5]
[x*3 for x in vec]

[-15, -9, 0, 9, 15]

In [25]:
vec = [-5, -3, 0, 3, 5]
[x for x in vec if x >= 0]

[0, 3, 5]

In [27]:
vec = [-5, -3, 0, 3, 5]
[abs(x) for x in vec]

[5, 3, 0, 3, 5]

In [28]:
freshfruit = ['salak', 'ceplukan', 'buah naga']
[weapon.strip() for weapon in freshfruit]

['salak', 'ceplukan', 'buah naga']

In [29]:
[(x, x**3) for x in range(5)]

[(0, 0), (1, 1), (2, 8), (3, 27), (4, 64)]

In [30]:
vec = [[4,5,6], [1,2,3], [7,8,9]]
[num for elem in vec for num in elem]

[4, 5, 6, 1, 2, 3, 7, 8, 9]

In [31]:
from math import pi
[str(round(pi, i)) for i in range(1, 7)]

['3.1', '3.14', '3.142', '3.1416', '3.14159', '3.141593']

In [33]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [34]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
]
[[row[i] for row in matrix] for i in range(3)]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [82]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
]
transposed = []
 for i in range(6):
    transposed.append([row[i] for row in matrix])

IndentationError: unexpected indent (<ipython-input-82-ccf03343f515>, line 7)

In [39]:
transposed = []
for i in range(4):
    transposed_row = []
     for row in matrix:
.         transposed_row.append(row[i])
     transposed.append(transposed_row)
transposed

IndentationError: unexpected indent (<ipython-input-39-b26cfa9ca867>, line 4)

In [40]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [41]:
a = [-3, -2, -1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[-2, -1, 1, 66.25, 333, 333, 1234.5]

In [42]:
a = [-2, -1, 1, 66.25, 333, 333, 1234.5]
del a[2:4]
a

[-2, -1, 333, 333, 1234.5]

In [43]:
a = [-2, -1, 333, 333, 1234.5]
del a[:]
a

[]

In [44]:
r = 56789, 89675, 'Hi, Rin!'
r[2]

'Hi, Rin!'

In [45]:
r = 56789, 89675, 'Hi, Rin!'
n = r, (1, 2, 3, 4, 5)
n

((56789, 89675, 'Hi, Rin!'), (1, 2, 3, 4, 5))

In [46]:
empty = ()
singleton = 'Hi, Rin!',
len(empty)
len(singleton)

1

In [48]:
gunung = {'Rinjani', 'Selamet', 'Merapi', 'Merbabu', 'Selamet'}
gunung

{'Merapi', 'Merbabu', 'Rinjani', 'Selamet'}

In [49]:
gunung = {'Merapi', 'Merbabu', 'Rinjani', 'Selamet'}
'rinjani' in gunung

False

In [50]:
gunung = {'Merapi', 'Merbabu', 'Rinjani', 'Selamet'}
'Rinjani' in gunung

True

In [51]:
a = set('alkhawarizmi')
b = set('amedeo')
a

{'a', 'h', 'i', 'k', 'l', 'm', 'r', 'w', 'z'}

In [52]:
a = set('alkhawarizmi')
b = set('amedeo')
a - b

{'h', 'i', 'k', 'l', 'r', 'w', 'z'}

In [53]:
a = set('alkhawarizmi')
b = set('amedeo')
a | b

{'a', 'd', 'e', 'h', 'i', 'k', 'l', 'm', 'o', 'r', 'w', 'z'}

In [54]:
a = set('alkhawarizmi')
b = set('amedeo')
a & b

{'a', 'm'}

In [55]:
a = set('alkhawarizmi')
b = set('amedeo')
a ^ b

{'d', 'e', 'h', 'i', 'k', 'l', 'o', 'r', 'w', 'z'}

In [56]:
a = {x for x in 'alkhawarizmi' if x not in 'awi'}
a

{'h', 'k', 'l', 'm', 'r', 'z'}

In [57]:
tel = {'rin': 876, 'dha': 445}
tel['faj'] = 234
tel

{'dha': 445, 'faj': 234, 'rin': 876}

In [59]:
tel = {'rin': 876, 'dha': 445, 'faj': 234}
tel['rin']

876

In [60]:
tel = {'rin': 876, 'dha': 445, 'faj': 234}
del tel['dha']
tel['irul'] = 654
tel

{'faj': 234, 'irul': 654, 'rin': 876}

In [61]:
tel = {'faj': 234, 'irul': 654, 'rin': 876}
list(tel)

['faj', 'rin', 'irul']

In [62]:
tel = {'faj': 234, 'irul': 654, 'rin': 876}
sorted(tel)

['faj', 'irul', 'rin']

In [63]:
tel = {'faj': 234, 'irul': 654, 'rin': 876}
'rin' in tel

True

In [64]:
tel = {'faj': 234, 'irul': 654, 'rin': 876}
'riN' in tel

False

In [65]:
dict([('faj', 234), ('irul', 654), ('rin', 876)])

{'faj': 234, 'irul': 654, 'rin': 876}

In [66]:
{x: x**3 for x in (0, 1, 3)}

{0: 0, 1: 1, 3: 27}

In [67]:
dict(faj= 234, irul= 654, rin= 876)

{'faj': 234, 'irul': 654, 'rin': 876}

In [69]:
quotes = {'every': 'scars', 'has story': 'behind it'}
for r, n in quotes.items():
    print(r, n)

('every', 'scars')
('has story', 'behind it')

In [72]:
for r, n in enumerate(['ri', 'nd', 'ha', 'rin', 'dha', 'rindha']):
    print(r, n)

(0, 'ri')
(1, 'nd')
(2, 'ha')
(3, 'rin')
(4, 'dha')
(5, 'rindha')

In [73]:
questions = ['name', 'last name', 'hobby']
answers = ['rindha', 'fajirulhabshah', 'playing game']
for r, n in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(r, n))

What is your name?  It is rindha.
What is your last name?  It is fajirulhabshah.
What is your hobby?  It is playing game.

In [76]:
for r in reversed(range(1, 8, 1)):
    print(r)

7
6
5
4
3
2
1

In [77]:
gunung = ['Sumbing', 'Krakatau', 'Sumbing', 'Sindoro', 'Merapi', 'Sumbing', 'Merbabu']
for d in sorted(set(gunung)):
    print(d)

Krakatau
Merapi
Merbabu
Sindoro
Sumbing

In [78]:
import math
raw_data = [78.9, float('NaN'), 5.78, 99.1, 55.4, float('NaN'), 33.2]
filtered_data = []
for value in raw_data:
     if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[78.9, 5.78, 99.1, 55.4, 33.2]

In [83]:
string1, string2, string3 = '', 'rindha', ''
non_null = string1 or string2 or string3
non_null

'rindha'